body
{
	min-width: 600px;
	min-height: 400px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

#mainDiv
{
	position: relative;
	text-align: center;
	min-width: 600px;
	min-height: 400px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #0080FF;
	border-radius: 5px;
}

#popupBarDiv
{
	position: relative;
	text-align: center;
	font-size: 12px;
	min-height: 16px;
	background-color: #81BEF7;
	border-radius: 5px;
	font-family: verdana;
	color: white;
}

#titleDiv
{
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	text-align: center;
	font-weight: bold;
}

#winButtonsDiv
{
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
}

#winButtonsDiv a:link
{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#winButtonsDiv a:visited
{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#winButtonsDiv a:hover
{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#winButtonsDiv a:active
{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#headerDiv
{
	position: relative;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
	min-height: 20px;
	font-size: 20px;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-color: #0080FF;
	border-radius: 5px;
}

#chartDiv
{
	position: relative;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #0080FF;
	border-radius: 5px;
}

#tableDiv
{
	position: relative;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #0080FF;
	border-radius: 5px;
}

#tableDiv table
{
	margin-top: 5px;
	margin-bottom: 5px;
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #D8D8D8;
}

#tableDiv th
{
	border-width: 1px;
	border-spacing: 0px;
	background-color: #F6FFCD;
	border-style: solid;
	border-color: #D8D8D8;
}
#tableDiv td
{
	border-width: 1px;
	border-style: solid;
	border-color: #D8D8D8;
}

#bottomDiv
{
	position: relative;
	text-align: center;
	min-height: 20px;
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #0080FF;
	border-radius: 5px;
}

#bottomDiv a:link
{
	text-decoration: none;
	color: #0080FF;
}

#bottomDiv a:visited
{
	text-decoration: none;
	color: #0080FF;
}

#bottomDiv a:hover
{
	text-decoration: none;
	color: #0080FF;
}

#bottomDiv a:active
{
	text-decoration: none;
	color: #0080FF;
}
